.library-page {
    padding: 30px;
    font-family: Arial;
    background: #f6f6f6;
    min-height: 100vh;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.book-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: 0.2s;
}

.book-card:hover {
    transform: translateY(-4px);
}

.book-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.book-info {
    padding: 12px;
}

.book-info h3 {
    margin: 0;
    font-size: 16px;
}

.status {
    display: inline-block;
    margin-top: 10px;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
}


/* статуси як у Goodreads */

.status.not_read {
    background: #eee;
}

.status.reading {
    background: #ffe08a;
}

.status.finished {
    background: #b6f2c2;
}